//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*=============================================== Footer ===============================================*/
/*======================================================================================================*/

.footer {
  background-color: color(dark-blue);
  color: color(white);
  &__text {
    @include text-font-size;
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .footer {

  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .footer {

  }
}

/* ------------------- DESKTOP SECTION ------------------ */
@include desktop {
  .footer {
    padding: 35px 0;
    &__icons {
      font-size: 1.4em;
      i {
        padding-right: 8px;
      }
    }
  }
}