//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*=============================================== Footer ===============================================*/
/*======================================================================================================*/

.footer {
  background-color: color(dark-blue);
  color: color(white);
  padding: 35px 0;

  &__text {
    @include text-font-size;
  }

  &__icons {
    font-size: 1.4em;
    a {
      color: color(white);
    }
    i {
      padding-right: 8px;
    }
  }

  &__item{
    p {
      margin-bottom: 5px;
    }
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .footer {
    &__item {
      padding-top: 15px;
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .footer {
    @for $i from 3 through 4 {
      &__item:nth-child(#{$i}){
        padding-top: 20px;
      }
    }
  }
}
