//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*=========================================== Header Styling =============================================*/
/*========================================================================================================*/
.header{
  position: relative;
  margin-top: -110px;
  &__video{
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
  }
  &__video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.25;
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .header__video{
    height: 400px;
  }
}

/* ------------- MOBILE AND TABLET SECTION -------------- */
@include mobile-and-tablet {

}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .header__video{
    height: 600px;
  }
}

/* ------------- TABLET AND DESKTOP SECTION ------------- */
@include tablet-and-desktop {

}

/* ------------------- DESKTOP SECTION ------------------ */
@include desktop {
  .header__video{
    height: 800px;
  }
}