/*========================================================================================================*/
/*=========================================== Header Styling =============================================*/
/*========================================================================================================*/
.header{
  position: relative;
  &__video{
    width: 100%;
    height: auto;
  }
}

.header__video{

}