//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*======================================= Header Title Styling =========================================*/
/*======================================================================================================*/
.header {
  position: relative;
  margin-top: -110px;

  &__heading-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__heading, &__subheading {
    text-align: center;
    color: color(white);
    font-family: 'Kaushan Script', cursive;
  }

  &__heading {
    width: 700px;
    margin: 0 auto;
    fill: transparent;
    animation: svg-fill-animation duration(v-slow) ease forwards 2s;

    path {
      stroke: color(white);
      stroke-width: 3;
      stroke-miterlimit: 10;
    }
  }

  @for $i from 1 through 10 {
    &__svg-title-paths path:nth-child(#{$i}) {
      stroke-dasharray: #{nth($svg-title-path-lengths, $i)}px;
      stroke-dashoffset: #{nth($svg-title-path-lengths, $i)}px;
      animation: svg-line-animation duration(v-slow) cubic-bezier(0.4, 0.8, 0.7, 0.3) forwards #{0.1*$i}s;
    }
  }

  &__subheading {
    opacity: 0;
    animation: opacity-animation duration(v-slow) ease-in-out forwards 2.5s;
  }

  &__button-wrapper button {
    opacity: 0;
    animation: opacity-animation duration(v-slow) ease-in-out forwards 3s;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: duration(fast) all;

    &:hover {
      opacity: 1;
      border-color: color(light-blue) !important;
      background-color: transparent !important;
    }

    &:active {
      color: color(light-blue) !important;
      background-color: transparent !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .header {
    &__heading-wrapper {
      top: 52%;
    }

    &__heading {
      max-width: 250px;
    }

    &__subheading {
      margin: 15px auto 0;
      font-size: subtitle-font-size(small);
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .header {
    &__heading-wrapper {
      top: 47%;
    }

    &__heading {
      width: 450px;
    }

    &__subtitle {
      margin: 20px auto 0;
      font-size: subtitle-font-size(medium);
    }
  }
}

/* ------------------- DESKTOP SECTION ------------------ */
@include desktop {
  .header {
    &__heading-wrapper {
      top: 47%;
    }

    &__heading {
      width: 650px;
    }

    &__subheading {
      margin: 25px auto 0;
      font-size: subtitle-font-size(large);
    }
  }
}