//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*======================================= Header Title Styling =========================================*/
/*======================================================================================================*/
.header {
  position: relative;
  margin-top: -110px;

  &__title-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title, &__subtitle {
    text-align: center;
    color: color(white);
    font-family: 'Kaushan Script', cursive;
  }

  &__title {
    width: 700px;
    margin: 0 auto;
    fill: transparent;
    animation: svg-fill-animation duration(v-slow) ease forwards 2s;

    .st1 {
      stroke: color(white);
      stroke-width: 3;
      stroke-miterlimit: 10;
    }
  }

  @for $i from 1 through 10 {
    &__svg-title-paths path:nth-child(#{$i}) {
      stroke-dasharray: #{nth($svg-title-path-lengths, $i)}px;
      stroke-dashoffset: #{nth($svg-title-path-lengths, $i)}px;
      animation: svg-line-animation duration(v-slow) cubic-bezier(0.4, 0.8, 0.7, 0.3) forwards #{0.1*$i}s;
    }
  }

  &__subtitle {
    color: color(white);
    opacity: 0;
    animation: subtitle-animation duration(v-slow) ease-in-out forwards 2.5s;
  }

}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .header {
    &__title-wrapper {
      top: 52%;
    }

    &__title {
      max-width: 250px;
    }

    &__subtitle {
      margin: 15px auto 0;
      font-size: subtitle-font-size(small)
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .header {
    &__title-wrapper {
      top: 47%;
    }

    &__title {
      width: 450px;
    }

    &__subtitle {
      margin: 20px auto 0;
      font-size: subtitle-font-size(medium)
    }
  }
}

/* ------------------- DESKTOP SECTION ------------------ */
@include desktop {
  .header {
    &__title-wrapper {
      top: 47%;
    }

    &__title {
      width: 650px;
    }

    &__subtitle {
      margin: 25px auto 0;
      font-size: subtitle-font-size(large);
    }
  }
}