//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*=================================== Home Introduction Styling ========================================*/
/*======================================================================================================*/
.intro {
  @include section-spacing;

  &__carousel-controls {
    font-size: 1.8rem;
    color: color(dark-blue);

    i {
      transition: all duration(medium);
    }

    i:hover:not(.icon-selected) {
      color: color(light-blue);
      cursor: pointer;
    }
  }

  &__carousel-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__carousel {
    position: relative;
    width: 100%;
  }

  .carousel {
    &__item {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      transition: left duration(slow);
    }
    &__item--selected{
      position: relative;
      top: 0;
      left: 0;
    }

    &__title {
      @include section-title-font-size;
    }

    &__text {
      @include text-font-size;
    }

  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .intro__img-wrapper {
    margin-top: 3rem;
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .intro__img-wrapper {
    margin-top: 4.5rem;
  }
}
