//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*====================================== Home Services Styling =========================================*/
/*======================================================================================================*/
.home__services{
  @include section-spacing;
  .services__home-description{
    background-color: color(dark-blue);
    color: color(white);
  }
  .services__home-title{
    @include section-title-font-size;
  }
  .services__home-text{
    @include text-font-size;
  }
  .services__home-video-wrapper{
    position: relative;
  }
  .services__home-video{
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .services__home-video-controls{
    @include video-controls-wrapper;
    .home-video-controls__control{
      @include video-controls;
    }
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .services__home-video-wrapper{
    background: url("../../../dist/img/services-videos-posters/services-video-1-poster-mobile.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .services__home-video{
    height: 350px;
  }
}

/* ------------- MOBILE AND TABLET SECTION -------------- */
@include mobile-and-tablet {
  .home__services{
    .services__home-text{
      padding-top: 24px;
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .services__home-video-wrapper{
    background: url("../../../dist/img/services-videos-posters/services-video-1-poster-tablet.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .services__home-video{
    height: 450px;
  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .services__home-video-wrapper{
    background: url("../../../dist/img/services-videos-posters/services-video-1-poster-desktop.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  .services__home-video{
    height: 700px;
  }
}
