//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*=================================== Home Introduction Styling ========================================*/
/*======================================================================================================*/
.intro {
  @include section-spacing;
  &__carousel-controls{
    font-size: 1.8rem;
    color: color(dark-blue);
    i{
      transition: all duration(medium);
    }
    i:hover:not(.fas){
      color: color(light-blue);
      cursor: pointer;
    }
  }
  .carousel__title{
    @include section-title-font-size;
  }
  .carousel__text{
    @include text-font-size;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile {

}

/* --------------- MOBILE AND TABLET SECTION ------------ */
@include mobile-and-tablet {
  .intro{

  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {

}

/* ------------------- DESKTOP SECTION ------------------ */
@include desktop {

}
