//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*======================================= Home Contact Styling =========================================*/
/*======================================================================================================*/
.home-contact {

  &__img-wrapper {
    position: relative;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__heading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  &__heading {
    @include subheading;
    padding-bottom: 15px;
  }

  &__button-wrapper button {
    animation: opacity-animation duration(v-slow) ease-in-out forwards;
    @include read-more-btn-img-video;
  }

  &__img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .home-contact {
    &__img {
      height: 400px;
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .home-contact {
    &__img {
      height: 600px;
    }
  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .home-contact {
    &__img {
      height: 800px;
    }
  }
}