//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*====================================== Home Services Styling =========================================*/
/*======================================================================================================*/
.home-services {
  @include section-spacing;

  &__description {
    background-color: color(dark-blue);
    color: color(white);

    .description__heading {
      @include section-title-font-size;
    }

    .description__text {
      @include text-font-size;
    }
  }

  &__video-wrapper {
    position: relative;
  }

  &__video {
    width: 100%;
    display: block;
    object-fit: cover;
  }

  &__video-controls {
    @include video-controls-wrapper;

    .video-controls__control {
      @include video-controls;
    }
  }

  &__video-heading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video-heading {
    @include subheading;
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .home-services {
    &__video-wrapper {
      background: url("../../../dist/img/services-videos-posters/services-video-1-poster-mobile.jpg") no-repeat 50% 50%;
      background-size: cover;
    }

    &__video {
      height: 350px;
    }
  }
}

/* ------------- MOBILE AND TABLET SECTION -------------- */
@include mobile-and-tablet {
  .home-services {
    .description__text {
      padding-top: 24px;
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .home-services {
    &__video-wrapper {
      background: url("../../../dist/img/services-videos-posters/services-video-1-poster-tablet.jpg") no-repeat 50% 50%;
      background-size: cover;
    }

    &__video {
      height: 450px;
    }
  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .home-services {
    &__video-wrapper {
      background: url("../../../dist/img/services-videos-posters/services-video-1-poster-desktop.jpg") no-repeat 50% 50%;
      background-size: cover;
    }

    &__video {
      height: 700px;
    }
  }
}
