//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*=================================== Home Introduction Styling ========================================*/
/*======================================================================================================*/
.intro {
  @include section-spacing;

  &__carousel-controls {
    font-size: 2rem;
    color: color(dark-blue);

    i {
      transition: color duration(fast);
    }

    i:hover:not(.fas) {
      color: color(light-blue);
      cursor: pointer;
    }
  }

  &__carousel-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &__carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    transition: left duration(fast);
  }

  .carousel {
    &__item {
      width: 100%;
      transition: opacity duration(v-slow);
      opacity: 0.1;
    }
    &__item--selected{
      opacity: 1;
    }

    &__title {
      @include section-title-font-size;
    }

    &__text {
      @include text-font-size;
    }

  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .intro__img-wrapper {
    margin-top: 20px;
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .intro__img-wrapper {
    margin-top: 40px;
  }
}
