//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*===================================== Home Milestones Styling ========================================*/
/*======================================================================================================*/
.milestones {
  @include section-spacing;
  &__inner{
    background-color: color(dark-blue);
  }
  .stat__text{
    color: color(white);
    padding-top: 20px;
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .milestones {
    &__stat:nth-child(1){
      padding-bottom: 35px;
    }
    .stat__img-wrapper{
      padding: 0 15%;
      .stat__img{
        max-width: 100px;
      }
    }
    .stat__text{
      padding-top: 10px;
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .milestones {
    .stat__img-wrapper{
      padding: 0 30px;
    }
  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .milestones {
    .stat__img-wrapper{
      padding: 0 60px;
    }
  }
}