//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*=========================================== Navbar Styling =============================================*/
/*========================================================================================================*/
.navbar{
  &__menu{
    margin: 0 auto;
    align-items: center;
    font-size: menu-font-size(large);
    font-family: Merriweather sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__logo{

  }
  .nav-link{
    transition: duration(fast) all;
  }
  .nav-item{
    padding: 0 16px;
  }
}
/* ------------------- MOBILE SECTION ------------------- */
@include mobile{
  .navbar{
    position: relative;
    z-index: 10;
  }
}
/* ------------------- TABLET SECTION ------------------- */
@include tablet{
 .navbar{
    position: relative;
    z-index: 10;
  }
}
/* ------------- TABLET AND DESKTOP SECTION ------------- */
@include tablet-and-desktop{

}
/* ------------------- DESKTOP SECTION ------------------ */
@include desktop{
  .navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
/* ---------------- DESKTOP-LARGE SECTION --------------- */
@include desktop-large{

}