//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*=========================================== Navbar Styling =============================================*/
/*========================================================================================================*/
.navbar{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  &__menu{
    margin: 0 auto;
    align-items: center;
    font-size: $menu-font-medium;
    font-family: Merriweather sans-serif;
    text-transform: uppercase;
  }
  &__logo{

  }
  .nav-link{
    transition: duration(medium) all;
  }
  .nav-item{
    padding: 0 16px;
  }
}
/* ------------------- MOBILE SECTION ------------------- */


/* ------------------- TABLET SECTION ------------------- */


/* ------------- TABLET AND DESKTOP SECTION ------------- */