//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*===================================== Services Intro Styling =========================================*/
/*======================================================================================================*/
.services-intro {
  @include section-spacing;

  &__heading {
    @include section-title-font-size;
  }

  &__text {
    @include text-font-size;
  }

  &__cards-wrapper {
    perspective: 3000px;
  }

  &__card {
    color: color(white);
    position: relative;
    transition: transform duration(medium);
    transform-style: preserve-3d;
    cursor: pointer;

    &--flip {
      transform: rotateY(180deg);
    }

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      padding: 15px;
      overflow: hidden;
      backface-visibility: hidden;
    }

    .front-face__content, .back-face__content {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card__front-face {
      transform: rotateY(0);
    }

    .card__back-face {
      transform: rotateY(180deg);
    }
  }

  .card__face--light {
    background-color: color(light-blue);
  }

  .card__face--dark {
    background-color: color(dark-blue);
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .services-intro {
    &__card {
      min-height: 250px;
      width: 250px;
      margin: 0 auto;
    }
    @for $i from 2 through 4 {
      &__cards-wrapper div:nth-child(#{$i}) {
        padding-top: 15px;
      }
    }
  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .services-intro {
    &__card {
      min-height: 240px;
    }
    @for $i from 3 through 4 {
      &__cards-wrapper div:nth-child(#{$i}) {
        padding-top: 15px;
      }
    }
  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .services-intro {
    &__card {
      min-height: 300px;
    }
  }
}