//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*====================================== Home Services Styling =========================================*/
/*======================================================================================================*/
.services__intro {
  @include section-spacing;

  .intro__title {
    @include section-title-font-size;
  }

  .intro__text {
    @include text-font-size;
  }

  .intro__cards-wrapper {
    perspective: 3000px;
  }

  .intro__card {
    color: color(white);
    position: relative;
    transition: transform duration(medium);
    transform-style: preserve-3d;

    &--flip {
      transform: rotateY(180deg);
    }

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 15px;
      padding: 15px;
      overflow: hidden;
      backface-visibility: hidden;
    }

    .front-face__content, .back-face__content {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .card__front-face {
      transform: rotateY(0);
    }

    .card__back-face {
      transform: rotateY(180deg);
    }
  }

  .card__face--light {
    background-color: color(light-blue);
  }

  .card__face--dark {
    background-color: color(dark-blue);
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .services__intro {
    .intro__card {
      min-height: 250px;
      width: 250px;
      margin: 0 auto;
    }
  }
}

/* ------------- MOBILE AND TABLET SECTION -------------- */
@include mobile-and-tablet {
  .services__intro {

  }
}

/* ------------------- TABLET SECTION ------------------- */
@include tablet {
  .services__intro {
    .intro__card {
      min-height: 240px;
    }
  }
}

/* --------------TABLET AND DESKTOP SECTION ------------ */
@include tablet-and-desktop {
  .services__intro {

  }
}

/* ----------------- DESKTOP SECTION ------------------- */
@include desktop {
  .services__intro {
    .intro__card {
      min-height: 280px;
    }
  }
}