//============================================= Imports ==================================================
@import '_utilities';
/*======================================================================================================*/
/*===================================== Services Opinions Styling ======================================*/
/*======================================================================================================*/
.services-opinions {

  &__carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__carousel {
    position: relative;
    top: 0;
    left: 0;
    width: 600%;
    height: 100%;
    display: flex;
    transition: left duration(fast);
  }

  .carousel {
    &__item {
      width: 100%;
      transition: opacity duration(v-slow);
      opacity: 0.1;
    }

    &__item--selected {
      opacity: 1;
    }

    &__text {
      @include text-font-size;

      &::after, &::before {
        content: "\"";
      }
    }

    &__client-photo {
      border-radius: 50%;
    }

    &__client-name {
      font-size: 2em;
      font-family: 'Kaushan Script', cursive;
    }
  }

  &__carousel-control {
    color: color(dark-blue);
    cursor: pointer;
  }

  &__carousel-control--prev {
    left: 10px;
    transition: left duration(fast);
    &:active {
      left: 0;
    }
  }

  &__carousel-control--next {
    right: 10px;
    transition: right duration(fast);
    &:active {
      right: 0;
    }
  }
}

/* ------------------- MOBILE SECTION ------------------- */
@include mobile {
  .services-opinions {

    &__carousel-control {
      position: absolute;
      bottom: 0;
      font-size: 3.0em;
    }

    .carousel__client-name {
      width: 50%;
      margin: 0 auto;
    }
  }
}

/* ------------- TABLET AND DESKTOP SECTION ------------- */
@include tablet-and-desktop {
  .services-opinions {
    &__carousel-control {
      font-size: 4.0em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
