//======================================================================================================
//=========================================== Variables ================================================
//======================================================================================================
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

//======================================================================================================
//=========================================== Variables ================================================
//======================================================================================================

$mobile: 767px;
$tablet-lower: 768px;
$tablet-upper: 991px;
$desktop-lower: 992px;
$desktop-upper: 1199px;
$desktop-large: 1200px;

$colors: (
        white: white,
        light-green: #18BC9C,
        light-blue: #258CD1,
        dark-blue: #2C3E50,
        light-red: #E21B1B,
        dark-blue-transparent: rgba(44, 62, 80, 0.85),
        transparent-white: rgba(255, 255, 255, 0.2),
);
$duration: (
        v-fast: 0.2s,
        fast: 0.3s,
        medium: 0.5s,
        slow: 0.7s,
        v-slow: 1s,
        x-slow: 2.0s
);
$menu-font-size: (
        large: 1.35em,
        medium: 1.25em,
        small: 1em
);
$text-font-size: (
        large: 1.2em,
        medium: 1.0em,
);
$subtitle-font-size: (
        v-large: 3.0em,
        large: 2.5em,
        medium: 2.0em,
        small: 1.5em
);
$section-title: (
        large: 2.5em,
        medium: 2.0em,
        small: 1.8em
);

// Path lengths in pixels for the letters in svg title: Lorem Media
// Acquired using JS - getTotalLength() method
$svg-title-path-lengths: (298.1695556640625, 282.69970703125, 240.484375, 301.034912109375, 555.9552612304688, 773.155029296875, 301.0421447753906, 398.4835205078125, 190.2626495361328, 333.1986389160156);

//======================================================================================================
//============================================ Functions ===============================================
//======================================================================================================

//function returns a color from $colors map using map-get
@function color($color-name) {
  @return map-get($colors, $color-name)
}

//function returns a duration in seconds from $duration map using map-get
@function duration($duration-value) {
  @return map-get($duration, $duration-value)
}

//function returns a font size from $menu-font-size map using map-get
@function menu-font-size($font-size) {
  @return map-get($menu-font-size, $font-size)
}

//function returns a font size from $text-font-size map using map-get
@function text-font-size($font-size) {
  @return map-get($text-font-size, $font-size)
}

//function returns a font size from $heading-font-size map using map-get
@function subtitle-font-size($font-size) {
  @return map-get($subtitle-font-size, $font-size)
}

//function returns a font size from $section-title map using map-get
@function section-title-font-size($font-size) {
  @return map-get($section-title, $font-size)
}

//======================================================================================================
//=============================================== Mixins ===============================================
//======================================================================================================

//=============================================== General ===============================================
//mixin with media query for mobile
@mixin mobile {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}

//mixin with media query for tablet
@mixin tablet {
  @media only screen and (min-width: #{$tablet-lower}) and (max-width: #{$tablet-upper}) {
    @content;
  }
}

//mixin with media query for mobile and tablet
@mixin mobile-and-tablet {
  @media only screen and (max-width: #{$tablet-upper}) {
    @content;
  }
}

//mixin with media query for tablet and desktop
@mixin tablet-and-desktop {
  @media only screen and (min-width: #{$tablet-lower}) {
    @content;
  }
}

//mixin with media query for desktop
@mixin desktop {
  @media only screen and (min-width: #{$desktop-lower}) {
    @content;
  }
}

//mixin with media query for large desktop
@mixin desktop-large {
  @media only screen and (min-width: #{$desktop-large}) {
    @content;
  }
}

//mixin for top spacing between website sections
@mixin section-spacing {
  @include mobile {
    padding-top: 4rem;
  }
  @include tablet {
    padding-top: 6rem;
  }
  @include desktop {
    padding-top: 8rem;
  }
}

//mixin for a subheading over videos or images
@mixin subheading {
  text-align: center;
  color: color(white);
  font-family: 'Kaushan Script', cursive;
  @include mobile {
    font-size: subtitle-font-size(small);
  }
  @include tablet {
    font-size: subtitle-font-size(medium);
  }
  @include desktop {
    font-size: subtitle-font-size(v-large);
  }
}

//mixin for section title font size
@mixin section-title-font-size {
  @include mobile {
    font-size: section-title-font-size(small);
  }
  @include tablet {
    font-size: section-title-font-size(medium);
  }
  @include desktop {
    font-size: section-title-font-size(large);
  }
}

//mixin for website section text font size
@mixin text-font-size {
  @include mobile {
    font-size: text-font-size(small);
  }
  @include tablet-and-desktop {
    font-size: text-font-size(large);
  }
}

//=========================== Read More Button Over Videos and Images =================================

@mixin read-more-btn-img-video($hover-active-color: color(light-blue)) {
  opacity: 0;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: duration(fast) all;

  &:hover {
    opacity: 1;
    border-color: $hover-active-color !important;
    background-color: transparent !important;
  }

  &:active {
    color: $hover-active-color !important;
    background-color: transparent !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}


//============================================== Video ================================================

//mixin for video controls wrapper
@mixin video-controls-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  @include mobile {
    padding: 0 0 16px 16px;
  }
  @include tablet-and-desktop {
    padding: 0 0 31px 31px;
  }
}

//mixin for video controls buttons
@mixin video-controls {
  color: color(white);
  font-size: 12px;
  padding: 4px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  margin-right: 5px;
  transition: duration(medium) color;
  cursor: pointer;
  &:hover {
    color: color(light-blue);
  }
}

//============================================= Gallery ===============================================

//mixin for image overlay
@mixin img-overlay {
  color: color(white);
  padding: 15px;
  @include mobile {
    background-color: color(dark-blue);
  }
  @include tablet-and-desktop {
    background-color: color(dark-blue-transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: opacity duration(slow);
    opacity: 0;
  }
}

//============================================= Lightbox ===============================================

@mixin lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  overflow-x: hidden;
  @include mobile {
    padding: 50px 50px 0;
  }
  @include tablet-and-desktop {
    padding: 75px 50px 0;
  }
}

@mixin lightbox-img-wrapper {
  position: relative;
  margin: 0 auto;
  @include desktop {
    max-width: 900px;
  }
}

@mixin lightbox-description {
  display: none;
  text-align: center;
  color: color(white);
  padding-top: 35px;
  margin: 0 auto;
  &-text {
    padding-top: 10px;
  }
  &--show {
    display: block;
  }
  @include desktop {
    max-width: 1000px;
  }
}

@mixin lightbox-arrow {
  color: color(white);
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  font-size: 2.2em;
  @include mobile {
    padding: 15px;
    &--left {
      transition: left duration(v-fast);
      left: -47px;
    }

    &--left:active {
      left: -51px;
    }

    &--right {
      transition: right duration(v-fast);
      right: -47px;
    }

    &--right:active {
      right: -51px;
    }
  }
  @include tablet-and-desktop {
    padding: 10px;
    &--left {
      transition: left duration(v-fast);
      left: -45px;
    }

    &--left:active {
      left: -50px;
    }

    &--right {
      transition: right duration(v-fast);
      right: -45px;
    }

    &--right:active {
      right: -50px;
    }
  }
}

@mixin lightbox-close {
  position: absolute;
  color: color(white);
  font-size: 2.2em;
  cursor: pointer;
  padding: 10px;
  @include mobile {
    top: 5px;
    right: 15px;
  }
  @include tablet-and-desktop {
    top: 25px;
    right: 35px;
  }
}

//======================================================================================================
//============================================ Keyframes ===============================================
//======================================================================================================

@keyframes svg-line-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svg-fill-animation {
  from {
    fill: transparent;
  }
  to {
    fill: color(white);
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

