//============================================= Imports ==================================================
@import "partials/utilities";
@import "partials/header-video";
@import "partials/header-title";
@import "partials/navbar";
@import "partials/home-intro";
@import "partials/home-services";
/*========================================================================================================*/
/*========================================== General Styling =============================================*/
/*========================================================================================================*/
li {
  list-style-type: none;
}

.btn-lg {
  @include mobile {
    font-size: 1em;
  }
}

.test {
  margin: 250px 0;
}
