//============================================= Imports ==================================================
@import "partials/utilities";
@import "partials/header-video";
@import "partials/header-title";
@import "partials/navbar";
@import "partials/home-intro";
@import "partials/home-services";
@import "partials/home-clients";
@import "partials/home-milestones";
@import "partials/home-contact";
@import "partials/footer";
/*========================================================================================================*/
/*========================================== General Styling =============================================*/
/*========================================================================================================*/
li {
  list-style-type: none;
}

.btn-lg {
  @include mobile {
    font-size: 1em;
  }
}

.img-responsive{
  width: 100%;
  height: auto;
}

.text-show-animation{
  opacity: 0;
  transition: opacity duration(x-slow);
  &__show{
    opacity: 1;
  }
}

.test {
  margin: 250px 0;
}
